.App {
  text-align: center;
}

.Main {
  padding-left: 2rem;
  padding-right: 2rem;
}

.item1 { grid-area: header; 
  font-size: 30px;
  max-height: 20vh;
}
.item2 { grid-area: menu;
  font-size: 14px;
  max-height: 80vh;
  max-width: 25vw;
  overflow: scroll;
}
.item3 { grid-area: main; 
  min-width: 75vw;
  min-height: 72vh;
}
.item4 { grid-area: right; }
.item5 { grid-area: footer; 
  min-height: 8vh;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'menu footer footer footer footer footer';
  background-color: #2196F3;
  padding: 10px;
  border-radius: 15px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 2px 0;
}